/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    macros {
        go_left_editor: go_left_editor {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LG(K) &kp LG(LEFT_ARROW)>;
            label = "GO_LEFT_EDITOR";
        };

        go_editor_right: go_editor_right {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LG(K) &kp LG(RIGHT)>;
            label = "GO_EDITOR_RIGHT";
        };
    };

    behaviors {
        HMR: HMR {
            compatible = "zmk,behavior-hold-tap";
            label = "HMR";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick-tap-ms = <175>;
            flavor = "tap-preferred";
            hold-trigger-on-release;
        };

        hmr_quick: hmr_quick {
            compatible = "zmk,behavior-hold-tap";
            label = "HMR_QUICK";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <175>;
            flavor = "tap-preferred";
            hold-trigger-on-release;
        };

        left_paren_angle: left_paren_angle {
            compatible = "zmk,behavior-tap-dance";
            label = "LEFT_PAREN_ANGLE";
            #binding-cells = <0>;
            bindings = <&kp LEFT_PARENTHESIS>, <&kp LESS_THAN>;
        };

        right_paren_angle: right_paren_angle {
            compatible = "zmk,behavior-tap-dance";
            label = "RIGHT_PAREN_ANGLE";
            #binding-cells = <0>;
            bindings = <&kp RIGHT_PARENTHESIS>, <&kp GREATER_THAN>;
        };

        period_bang: period_bang {
            compatible = "zmk,behavior-tap-dance";
            label = "PERIOD_BANG";
            #binding-cells = <0>;
            bindings = <&kp PERIOD>, <&kp EXCLAMATION>;
        };

        comma_question: comma_question {
            compatible = "zmk,behavior-tap-dance";
            label = "COMMA_QUESTION";
            #binding-cells = <0>;
            bindings = <&kp COMMA>, <&kp QUESTION>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        colemak_dh {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BKSP |
            // | CTRL |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   |
            // | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | ESC  |
            //                    | GUI | LWR | SPC |   | ENT | RSE  | ALT |

            display-name = "Base";
            bindings = <
&HMR EQUAL LEFT_ALT    &kp Q  &kp W  &kp F   &kp P         &kp B             &kp J                          &kp L               &kp U            &kp Y         &kp SEMICOLON  &kp BACKSLASH
&kp BACKSPACE          &kp A  &kp R  &kp S   &kp T         &kp G             &kp M                          &kp N               &kp E            &kp I         &kp O          &HMR SQT LEFT_SHIFT
&HMR TAB LEFT_CONTROL  &kp Z  &kp X  &kp C   &kp D         &kp V             &kp K                          &kp H               &comma_question  &period_bang  &kp FSLH       &kp LA(LG(LS(LEFT_CONTROL)))
                                     &trans  &lt 1 RETURN  &kp LEFT_SHIFT    &hmr_quick BACKSPACE LEFT_GUI  &lt 2 LEFT_COMMAND  &trans
            >;
        };

        arrows_programming {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  1  |  2  |  3  |  4  |  5  |   |  6  |  7  |  8  |  9  |  0  | BKSP |
            // | BTCLR| BT1 | BT2 | BT3 | BT4 | BT5 |   | LFT | DWN |  UP | RGT |     |      |
            // | SHFT |     |     |     |     |     |   |     |     |     |     |     |      |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            display-name = "Arrow-Pr";
            bindings = <
&kp LS(LA(LC(LG(K))))  &kp LS(LA(LC(LG(Q))))  &kp LS(LG(P))     &kp LA(LG(I))         &kp LG(S)     &kp LG(D)            &trans         &trans         &kp UP_ARROW  &trans         &trans           &trans
&kp LG(V)              &kp LG(C)              &kp LG(X)         &kp LEFT_COMMAND      &kp LEFT_ALT  &kp LG(BACKSLASH)    &kp LG(LA(F))  &kp DOWN       &kp DOWN      &kp RIGHT      &go_left_editor  &go_editor_right
&kp LA(LS(DOWN))       &kp LS(LA(UP_ARROW))   &kp LA(LG(DOWN))  &kp LA(LG(UP_ARROW))  &kp LA(DOWN)  &kp LA(UP_ARROW)     &kp LS(LG(E))  &kp LS(LC(G))  &trans        &kp LS(LG(F))  &kp LC(LG(I))    &kp LG(B)
                                                                &trans                &trans        &kp SPACE            &kp BACKSPACE  &kp SPACE      &trans
            >;
        };

        symbols_numbers {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  !  |  @  |  #  |  $  |  %  |   |  ^  |  &  |  *  |  (  |  )  | BKSP |
            // | CTRL |     |     |     |     |     |   |  -  |  =  |  [  |  ]  |  \  |  `   |
            // | SHFT |     |     |     |     |     |   |  _  |  +  |  {  |  }  | "|" |  ~   |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            display-name = "Sym+Num";
            bindings = <
&kp AT_SIGN        &kp EXCLAMATION  &kp GRAVE    &kp LEFT_BRACE     &kp RIGHT_BRACE     &kp AMPERSAND    &kp MINUS      &kp N7        &kp NUMBER_8  &kp NUMBER_9  &kp KP_DIVIDE    &trans
&kp TILDE          &kp ASTERISK     &kp DOLLAR   &left_paren_angle  &right_paren_angle  &kp EQUAL        &kp PLUS       &kp NUMBER_4  &kp NUMBER_5  &kp NUMBER_6  &kp KP_MULTIPLY  &kp BACKSPACE
&kp LC(LG(SPACE))  &kp QUESTION     &kp PERCENT  &kp LEFT_BRACKET   &kp RIGHT_BRACKET   &kp ASTERISK     &kp PERIOD     &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp KP_EQUAL     &kp RETURN
                                                 &trans             &kp RETURN          &kp SPACE        &kp BACKSPACE  &kp SPACE     &kp NUMBER_0
            >;
        };

        board_system {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  !  |  @  |  #  |  $  |  %  |   |  ^  |  &  |  *  |  (  |  )  | BKSP |
            // | CTRL |     |     |     |     |     |   |  -  |  =  |  [  |  ]  |  \  |  `   |
            // | SHFT |     |     |     |     |     |   |  _  |  +  |  {  |  }  | "|" |  ~   |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            display-name = "Brd+Sys";
            bindings = <
&trans  &trans  &kp K_MUTE      &kp C_VOLUME_DOWN  &kp C_VOL_UP          &trans                  &trans                  &trans             &trans  &trans  &trans  &trans
&trans  &trans  &trans          &trans             &kp LG(LS(NUMBER_4))  &kp LS(LG(NUMBER_3))    &trans                  &kp K_SCROLL_UP    &trans  &trans  &trans  &trans
&trans  &trans  &kp K_PREVIOUS  &kp K_PLAY_PAUSE   &kp K_NEXT            &kp K_STOP              &kp LC(LG(LEFT_ARROW))  &kp LC(LG(RIGHT))  &trans  &trans  &trans  &trans
                                &trans             &kp RETURN            &kp LEFT_SHIFT          &kp BACKSPACE           &kp SPACE          &trans
            >;
        };
    };
};
