/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        colemak_dh {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BKSP |
            // | CTRL |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   |
            // | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | ESC  |
            //                    | GUI | LWR | SPC |   | ENT | RSE  | ALT |

            display-name = "Base";
            bindings = <
&kp TAB    &kp Q  &kp W  &kp E     &kp R       &kp T        &kp Y          &kp U  &kp I      &kp O    &kp P     &kp BSPC
&kp LCTRL  &kp A  &kp S  &kp D     &kp F       &kp G        &kp H          &kp J  &kp K      &kp L    &kp SEMI  &kp SQT
&kp LSHFT  &kp Z  &kp X  &kp C     &kp V       &kp B        &kp N          &kp M  &kp COMMA  &kp DOT  &kp FSLH  &kp LA(LG(LS(LEFT_CONTROL)))
                         &kp LGUI  &kp RETURN  &kp SPACE    &kp BACKSPACE  &mo 2  &kp RALT
            >;
        };

        arrows_programming {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  1  |  2  |  3  |  4  |  5  |   |  6  |  7  |  8  |  9  |  0  | BKSP |
            // | BTCLR| BT1 | BT2 | BT3 | BT4 | BT5 |   | LFT | DWN |  UP | RGT |     |      |
            // | SHFT |     |     |     |     |     |   |     |     |     |     |     |      |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            display-name = "Arrow-Pr";
            bindings = <
&kp LS(LA(LC(LG(K))))  &kp LS(LA(LC(LG(Q))))  &kp LS(LG(P))     &kp LA(LG(I))         &kp LG(S)     &kp LG(D)            &trans         &trans         &kp UP_ARROW  &trans         &trans         &trans
&kp LG(V)              &kp LG(C)              &kp LG(X)         &kp LEFT_COMMAND      &kp LEFT_ALT  &kp LG(BACKSLASH)    &kp LG(LA(F))  &kp DOWN       &kp DOWN      &kp RIGHT      &trans         &trans
&kp LA(LS(DOWN))       &kp LS(LA(UP_ARROW))   &kp LA(LG(DOWN))  &kp LA(LG(UP_ARROW))  &kp LA(DOWN)  &kp LA(UP_ARROW)     &kp LS(LG(E))  &kp LS(LC(G))  &trans        &kp LS(LG(F))  &kp LC(LG(I))  &kp LG(B)
                                                                &kp LGUI              &trans        &kp SPACE            &kp BACKSPACE  &kp SPACE      &kp RALT
            >;
        };

        symbols_numbers {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  !  |  @  |  #  |  $  |  %  |   |  ^  |  &  |  *  |  (  |  )  | BKSP |
            // | CTRL |     |     |     |     |     |   |  -  |  =  |  [  |  ]  |  \  |  `   |
            // | SHFT |     |     |     |     |     |   |  _  |  +  |  {  |  }  | "|" |  ~   |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            display-name = "Sym+Num";
            bindings = <
&kp AT_SIGN        &kp EXCLAMATION  &kp GRAVE    &kp LEFT_BRACE        &kp RIGHT_BRACE        &kp AMPERSAND    &kp MINUS      &kp N7        &kp NUMBER_8  &kp NUMBER_9  &kp SLASH     &trans
&kp TILDE          &kp ASTERISK     &kp DOLLAR   &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &kp EQUAL        &kp PLUS       &kp NUMBER_4  &kp NUMBER_5  &kp NUMBER_6  &kp ASTERISK  &kp BACKSPACE
&kp LC(LG(SPACE))  &kp QUESTION     &kp PERCENT  &kp LEFT_BRACKET      &kp RIGHT_BRACKET      &kp ASTERISK     &kp PERIOD     &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp EQUAL     &kp RETURN
                                                 &kp LGUI              &kp RETURN             &kp SPACE        &kp BACKSPACE  &kp SPACE     &kp NUMBER_0
            >;
        };

        board_system {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  !  |  @  |  #  |  $  |  %  |   |  ^  |  &  |  *  |  (  |  )  | BKSP |
            // | CTRL |     |     |     |     |     |   |  -  |  =  |  [  |  ]  |  \  |  `   |
            // | SHFT |     |     |     |     |     |   |  _  |  +  |  {  |  }  | "|" |  ~   |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            display-name = "Brd+Sys";
            bindings = <
&kp AT_SIGN        &kp EXCLAMATION  &kp GRAVE    &kp LEFT_BRACE        &kp RIGHT_BRACE        &kp AMPERSAND    &kp MINUS      &kp N7        &kp NUMBER_8  &kp NUMBER_9  &kp SLASH     &trans
&kp TILDE          &kp ASTERISK     &kp DOLLAR   &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &kp EQUAL        &kp PLUS       &kp NUMBER_4  &kp NUMBER_5  &kp NUMBER_6  &kp ASTERISK  &kp BACKSPACE
&kp LC(LG(SPACE))  &kp QUESTION     &kp PERCENT  &kp LEFT_BRACKET      &kp RIGHT_BRACKET      &kp ASTERISK     &kp PERIOD     &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp EQUAL     &kp RETURN
                                                 &kp LGUI              &kp RETURN             &kp SPACE        &kp BACKSPACE  &kp SPACE     &kp NUMBER_0
            >;
        };
    };
};
